/*
    Front-end Style Guide
    Layout
*/
  /* The designs were created to the following widths: */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --Mobile: 375px;
  --Component-Width: 327px; /* 327px */
  --Component-Height: 567px; /* 567px */
  --Desktop: 1440px;

  /* COLORS */

  /* Primary */
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
    /**/

  /* TYPOGRAPHY */

  /* Body Copy */
  --Font-size: 16px; /* Paragraph */

  /* Font */
  --Family: "Red Hat Display", sans-serif;
  --Small-weight: 500;
  --Medium-weight: 700;
  --Large-weight: 900;
    /**/
}
